@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@font-face {
    font-family: Inspiration-Regular;
    src: url(font/Inspiration-Regular.ttf);
}

/* UMUM -> MARGIN PADDING BOX SIZING */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}
/* Note: coba pake pseudo elements buat warnanya biar gampang */

/* NAV */
.navbar {
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
.navbar.sticky {
    padding: 5px 100px;
    background-color: black;
}
.navbar.sticky.logo, 
.navbar.sticky ul li a {
    color: white;
}
.navbar a img {
    float: left;
    display: block;
    width: 3rem;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 12px;
}
.navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.navbar ul li {
    position: relative;
    list-style: none;
}
.navbar ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.navbar ul li a span {
    font-weight: bold;
}
.navbar ul li a:hover {
    color: rgb(206, 206, 206);
}
.navbar ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
    background-color: black;
    padding: 10px;
}
ul li:hover > ul, 
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
.navbar ul li ul li {
    clear: both;
    width: 100%;
    padding: 5px;
}

/* Form Pertanyaan */
.container {
    margin-top: 210px;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.container p {
    font-family: Inspiration-Regular;
    font-size: 70px;
    color: white;
    float: right;
    margin-right: 150px;
    margin-top: 100px;
    text-align: center;
}
.container p span {
    font-size: 100px;
    font-family: Inspiration-Regular;
}
.form {
    background-color: #f2f2f2;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    color: black;
    float: left;
    position: relative;
    margin-left: 250px;
    opacity: 0.85;
}
.form input[type=text], select, textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12px;
    border: 1px #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
#submitbtn {
    background-color: #04AA6D; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
#submitbtn:hover {
    background-color: #059862;
}

/* BANNER */
.umum {
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.banner{
    font-size: 10rem;
}

/* Banner masing-masing page */
.beranda{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./gambar/bannerazk.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #FFF;
}

.infopenting{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./gambar/pexels-janko-ferlic-590493.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

/* FOOTER */
.footer {
    min-width: 100vw;
    min-height: 9vh;
    background-color: #000;

    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #fff;
}

.linktitle {
    text-decoration: none;
    font-size: 10rem;

    color: #fff;
    /* ini kalau ga diwarnain dia jadi ungu atau apapun yg kontras ama BG */
}

/* BERANDA */
.timeline {
    color: white;
    text-align: center;
    margin-top: 210px;
}
.timeline p {
    font-family: Inspiration-Regular;
    font-size: 70px;
}
.timeline iframe {
    opacity: 0.85;
}

/* DIKTI */
.luarnegeri {
    background-image: url(./gambar/PTLN.png);
}

.dalamnegeri {
    background-image: url(./gambar/PTN2.png);
}

.eropa {
    background-image: url(./gambar/nykra-1.jpg);
}

.amerika {
    background-image: url(./gambar/nykra-2.jpg);
}

.asia {
    background-image: url(./gambar/nykra-3.jpg);
}

.australia {
    background-image: url(./gambar/nykra-4.jpg);
}

/* Isi Informasi Masing2 Univ */
.universitas {
    background: aqua;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.namauni {
    min-height: 10vh;
    margin-top: 10px;
}

.gambaruni {
    width: 80vw;
    height: 70vh;

    grid-row: 1;
    grid-column: 1;
}

.infouni {
    grid-row: 2;
    grid-column: 1;

    color: #000;
    margin: 10px;
    text-align: justify;
}

/* Collapse UNI */
.collapsible {
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

/* BAHAN AJAR */

/* DOKUM ada di dokum.css*/
